{% extends "layouts/admin_master.html" %}

{% block main_block %}

<h2 class="page-title">Pages</h2>

<a href="/admin/pages/add-page" class="btn btn-primary">Add a new page</a>
<br><br>

<table class="table table-striped sorting">
    <thead>
    <tr class="home">
        <th>Title</th>
        <th>Slug</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for page in pages %}
    <tr id="id_{{page._id}}" class="{{page.slug}}">
    <td>{{page.title}}</td>
    <td>{{page.slug}}</td>
    <td><a href="/admin/pages/edit-page/{{page.slug}}" class="btn btn-primary">Edit</a></td>
    <td><a href="/admin/pages/delete-page/{{page.slug}}" class="btn btn-danger">Delete</a></td>
    </tr>

    {% else %}
    <tr><td colspan="3">This would display if the 'item' collection were empty</td></tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}


{% block js_block %}
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function(){
        $('tbody').sortable({
            items:"tr:not('.home')",
            placeholder:"ui-state-highlight",
            update:function () {
                var ids = $('tbody').sortable("serialize");
                var url = "/admin/pages/reorder-page";
                $.post(url,ids);
            }
        });
    });
</script>
{% endblock %}


{% block css_block %}
<style>
    .sorting tr:not(.home){
        cursor: pointer;
    }
</style>

{% endblock %}
