{% extends "layouts/admin_master.html" %}

{% block main_block %}

<h2 class="page-title">Edit a Product</h2>

<a href="/admin/products" class="btn btn-primary">Back to all products</a>
<br><br>

<form method="post" action="/admin/products/update-products" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="hidden" name="pimage" value="{{image}}">
        <input type="hidden" id="slug" name="slug" value="{{slug}}">
        <input type="hidden" id="id" name="id" value="{{_id}}">
        <input type="text" class="form-control" value="{{title}}" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" value="{{price}}" name="price" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" name="category">
            <option value="">select a category</option>
            {% for item in categories %}
            <option
                    {% if category=== item.slug %}
                    selected
                    {% endif %}
                    value="{{item.slug}}">{{item.title}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="image">Current Image</label>
        <p>
            {% if image === "" %}
            <img class="imgPreview" src="/images/noimage.png" alt="">
            {% else %}
            <img class="imgPreview" src="/product_images/{{image}}" alt="">
            {% endif %}
        </p>
    </div>
    <div class="form-group">
        <label for="image">Upload Image</label>
        <input type="file" class="form-control" height="100" width="100" id="image" name="image">
        <img src="{{image}}" alt="" id="imgPreview" class="imgPreview">
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <textarea type="text" class="form-control" id="desc" name="desc" placeholder="Content"
                  rows="10">{{desc}}</textarea>
    </div>
    <button type="submit" class="btn btn-default">Update</button>
</form>

<hr>
<h3 class="page-header">Gallery</h3>
<div id="actions" class="row">

    <div class="col-lg-7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
        </span>
        <button type="submit" class="btn btn-primary start">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel upload</span>
        </button>
    </div>

    <div class="col-lg-5">
        <!-- The global file processing state -->
        <span class="fileupload-process">
          <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0"
               aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
          </div>
        </span>
    </div>

</div>

<!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
<div class="table table-striped" class="files" id="previews">

    <div id="template" class="file-row">
        <!-- This is used as the file preview template -->
        <div>
            <span class="preview"><img data-dz-thumbnail/></span>
        </div>
        <div>
            <p class="name" data-dz-name></p>
            <strong class="error text-danger" data-dz-errormessage></strong>
        </div>
        <div>
            <p class="size" data-dz-size></p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                 aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            <button data-dz-remove class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            <button data-dz-remove class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete</span>
            </button>
        </div>
    </div>

</div>
{% endblock %}


{% block js_block %}
<script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<script src="/js/dropzone.js"></script>
<script>
    var previewNode = document.querySelector("#template");
    previewNode.id = "";
    var previewTemplate = previewNode.parentNode.innerHTML;
    previewNode.parentNode.removeChild(previewNode);

    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "/admin/products/file-upload", // Set the url
        acceptedFiles: 'image/*',
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
        init: function () {
            var files = {{galaryImages | dump | safe}};
            for (var i = 0; i < files.length; i++) {
                var mockFile = { name: files[i].name };
                this.emit("addedfile", mockFile);
                this.emit("thumbnail", mockFile, files[i].url);
                this.createThumbnailFromUrl(mockFile, files[i].url);

                this.emit("complete", mockFile);
               // var existingFileCount = 1; // The number of files already uploaded
              //  this.options.maxFiles = this.options.maxFiles - existingFileCount;

            }

        }
    });


    myDropzone.on("addedfile", function (file) {
        // Hookup the start button
        file.previewElement.querySelector(".start").onclick = function () {
            myDropzone.enqueueFile(file);
        };

    });


    myDropzone.on("removedfile", function (file) {
        // Hookup the start button
        $.ajax({
            url: '/admin/products/delete-file',
            type: "POST",
            data: { 'filename': file.name,"product_id": $("#id").val()}
        });
    });

    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function (progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
    });

    myDropzone.on("sending", function (file, xhr, formData) {
        formData.append("product_id", $("#id").val());
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1";
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
    });

    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function (progress) {
        document.querySelector("#total-progress").style.opacity = "0";
    });

    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function () {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
    };
    document.querySelector("#actions .cancel").onclick = function () {
        myDropzone.removeAllFiles(true);
    };
    $(document).ready(function () {
        CKEDITOR.replace('desc');
        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument

    });
</script>
{% endblock %}


{% block css_block %}
<style>
    .imgPreview {
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }
</style>
<style>
    html, body {
        height: 100%;
    }

    #actions {
        margin: 2em 0;
    }

    /* Mimic table appearance */
    div.table {
        display: table;
    }

    div.table .file-row {
        display: table-row;
    }

    div.table .file-row > div {
        display: table-cell;
        vertical-align: top;
        border-top: 1px solid #ddd;
        padding: 8px;
    }

    div.table .file-row:nth-child(odd) {
        background: #f9f9f9;
    }

    /* The total progress gets shown by event listeners */
    #total-progress {
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    /* Hide the delete button initially */
    #previews .file-row .delete {
        display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start,
    #previews .file-row.dz-success .cancel {
        display: none;
    }

    #previews .file-row.dz-success .delete {
        display: block;
    }


</style>

{% endblock %}