{% extends "layouts/cartmaster.html" %}

{% block main_block %}

<h1>{{title}}</h1>

<div class="row">

    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for aCart in cart %}
        {% set total =  total + (aCart.price * aCart.qty) %}
        <tr>
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img style="width: 100px;height: 100px;" src="product_images/{{aCart.image}}" alt="..." class="img-responsive"/></div>
                    <div class="col-sm-10">
                        <h4 class="nomargin">{{aCart.title}}</h4>
                        <p>{{aCart.desc|safe}}</p>
                    </div>
                </div>
            </td>
            <td data-th="Price" class="priceAttr">${{aCart.price}}</td>
            <td data-th="Quantity">
                <input type="number" name="qty" class="form-control text-center" value="{{aCart.qty}}">
            </td>
            <td data-th="Subtotal" class="text-center Subtotal">{{aCart.qty * aCart.price}}</td>
            <td class="actions" data-th="">
                <button class="btn btn-info btn-sm updateButton" data-id="{{aCart._id}}"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-danger btn-sm deleteButton" data-id="{{aCart._id}}"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>

        {% endfor %}

        </tbody>
        <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total {{total}}</strong></td>
        </tr>
        <tr>
            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong class="totalOutput">Total ${{total}}</strong></td>
            <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
        </tr>
        </tfoot>
    </table>

</div>

{% endblock %}

{% block css_block %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    .table>tbody>tr>td, .table>tfoot>tr>td{
        vertical-align: middle;
    }
    @media screen and (max-width: 600px) {
        table#cart tbody td .form-control{
            width:20%;
            display: inline !important;
        }
        .actions .btn{
            width:36%;
            margin:1.5em 0;
        }

        .actions .btn-info{
            float:left;
        }
        .actions .btn-danger{
            float:right;
        }

        table#cart thead { display: none; }
        table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
        table#cart tbody tr td:first-child { background: #333; color: #fff; }
        table#cart tbody td:before {
            content: attr(data-th); font-weight: bold;
            display: inline-block; width: 8rem;
        }



        table#cart tfoot td{display:block; }
        table#cart tfoot td .btn{display:block;}

    }
</style>
{% endblock %}

{% block js_block %}
<script>
 $(document).ready(function(){
        $(".updateButton").on('click',function () {
              var product = $(this);
              var product_id = product.data('id');
              var qty = product.closest('tr').find('input[name="qty"]').val();
              var price = product.closest('tr').find('.priceAttr').text().replace("$","");

            $.post("/cart/update-cart",
                {
                    id: product_id,
                    qty: qty
                },
                function(data, status){
                    if(data.success){
                        $('.totalOutput').text("Total $ "+data.total);
                        product.closest('tr').find('.Subtotal').text(qty* price);
                    }
                });

        });


     $(".deleteButton").on('click',function () {
         var product = $(this);
         var product_id = product.data('id');
         var qty = product.closest('tr').find('input[name="qty"]').val();
         var price = product.closest('tr').find('.priceAttr').text().replace("$","");

         $.post("/cart/delete-cart",
             {
                 id: product_id,
             },
             function(data, status){
                 if(data.success){
                     $('.totalOutput').text("Total $ "+data.total);
                     product.closest('tr').remove();
                 }
             });

     });
 });
</script>

{% endblock %}